
config chinadns-ng
	option enable '0'
	option bind_addr '127.0.0.1'
	option bind_port '5353'
	option china_dns '119.29.29.29'
	option trust_dns '127.0.0.1#5300'
	option ipset_name4 '/etc/chinadns-ng/chnroute.ipset'
	option ipset_name6 '/etc/chinadns-ng/chnroute6.ipset'
	option timeout_sec '5'
	option reuse_port '0'
